/* BOTONES */
button {
  background: #17a2b8;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
button:hover { background: #138496; }

/* BOTONES EN FORMULARIO */
.button-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}
.button-form button { width: 48%; }